html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

main {
  background-color: brown;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.master-container {
  border: 5px solid blueviolet;
  height: 80vh;
  width: 90vw;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: beige;
}

#weekly-hours {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  width: 85vw;
  height: 75vh;
  justify-content: center;
}

.projects-container {
  background-color: gray;
  margin-top: 120px;
  width: 40vw;
}

#project-name {
  margin: 20px;
  border: 1px solid whitesmoke;
}

.hours-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  width: 40vw;
}

#weeks-bg {
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 70px;
}

#weeks-header {
  top: 0;
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: -76px 0 56px 0;
}

#week {
  background-color: rgb(233, 15, 106);
  min-width: 50px;
  height: 140px;
  transform: skew(-45deg);
  margin-right: 20px;
}

#week-range {
  background-color: rgb(233, 15, 106);
  min-width: 185px;
  transform: rotate(-45deg);
  height: 20px;
  text-align: center;
  margin-right: -115px;
}

#hours-columns {
  background-color: rgb(70, 70, 160);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

#hours {
  background-color: rgb(233, 15, 106);
  min-width: 50px;
  height: 100%;
  margin-right: 20px;
}