@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
	margin: 0;
	padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #045891;
  /* background: linear-gradient(to bottom,#045891,rgb(159, 190, 211)); */
}

main {
  height: 85vh;
  overflow:scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

footer {
  /* background-color: beige; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  font-size: 14px;
}