.nav-container {
  background-color: #fff;
  height: 50px;
}

.nav-logo {
  padding: 15px;
  color: #3f4a97;
}

.navbar {
  overflow: hidden;
  position: relative;
}

.navbar ul {
  list-style-type: none;

}


