.nav-container {
  background-color: #fff;
  height: 50px;
}

.nav-logo {
  padding: 15px;
  color: #3f4a97;
}

.navbar {
  overflow: hidden;
  position: relative;
  color:#3f4a97;
  font-size: 15px;
}

.navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navbar li {
  float: left;
}

.nav-item {
  margin-right: 10px;
}